<div class="page-container">
  <h2>Journey-Maps-Client</h2>

  <div class="map">
    <!--  Do not use this API key in production. Contact dlrokas@sbb.ch to get your own.-->
    <rokas-journey-maps-client
      language="en"
      apiKey="e500c71b8c83c1cfb2170608582ae9c8"
      [markers]="markers"
      [journey]="journey"
      [transfer]="transfer"
      [routes]="routes"
      [boundingBox]="boundingBox"
      [controls]="controls"
      (visibleLevelsChange)="visibleLevels=$event"
      [(selectedLevel)]="selectedLevel"
      (mapCenterChanged)="mapCenterChanged.next($event)"
      (zoomLevelChanged)="zoomLevelChanged.next($event)"
      (minZoomLevelChanged)="minZoomLevel=$event"
      (maxZoomLevelChanged)="maxZoomLevel=$event"
      [markerDetailsTemplate]=""
      [(selectedMarkerId)]="selectedMarkerId"
      [allowOneFingerPan]="allowOneFingerPan"
      [popup]="popup"
      [scrollZoom]="true"
      [styles]="styles"
      (mapReady)="onMapRecieved($event)"
      #client
    >
    </rokas-journey-maps-client>

    <!--  Set [markerDetailsTemplate]="markerDetailsTemplate" to overwrite default template. Example. -->
    <ng-template #markerDetailsTemplate let-marker>
      <h1 style="color: red">{{marker.title}}</h1>
      <div>{{marker.subtitle}}</div>
    </ng-template>
  </div>

  <div>
    <ul>
      <li style="list-style: circle;">
        <button
          [style]="customButtonStyle"
          (click)="setSelectedMarkerId('home')"
        >Select 'Home Office' marker
        </button>
        <button
          [style]="customButtonStyle"
          (click)="setSelectedMarkerId(undefined)"
        >Unselect all markers
        </button>
      </li>
      <li style="list-style: circle;">Selected Marker ID: <span *ngIf="selectedMarkerId">{{selectedMarkerId}}</span>
      </li>
      <li style="list-style: circle;">Zoom Level (within range {{minZoomLevel}}..{{maxZoomLevel}}): {{zoomLevel}}</li>
      <li style="list-style: circle;">
        <button
          [style]="customButtonStyle"
          (click)="zoomIn()"
        >Zoom In
        </button>
        <button
          [style]="customButtonStyle"
          (click)="zoomOut()"
        >Zoom Out
        </button>
      </li>
      <li style="list-style: circle;">Selected level: {{selectedLevel}}</li>
      <li style="list-style: circle;">
        Level switch: <span *ngIf="!visibleLevels.length">There are no visible levels.</span>
        <ng-container *ngFor="let level of visibleLevels">
          <button
            [disabled]="!visibleLevels?.includes(level)"
            [style]="customButtonStyle"
            (click)="setSelectedLevel(level)"
          >Level {{level}}
          </button>
        </ng-container>
      </li>
      <li style="list-style: circle;">Map center: {{mapCenter}}</li>
      <li style="list-style: circle;">
        <button
          [style]="customButtonStyle"
          (click)="client.moveNorth()"
        >Move North
        </button>
        <button
          [style]="customButtonStyle"
          (click)="client.moveEast()"
        >Move East
        </button>
        <button
          [style]="customButtonStyle"
          (click)="client.moveSouth()"
        >Move South
        </button>
        <button
          [style]="customButtonStyle"
          (click)="client.moveWest()"
        >Move West
        </button>
      </li>
      <li style="list-style: circle;">Map loaded: {{map?.loaded()}}</li>
      <li style="list-style: circle;">Allow moving the map with one finger: {{allowOneFingerPan}}</li>
      <li style="list-style: circle;">
        <label for="geo-json-select">
          Display GeoJSON data for:
          <select id="geo-json-select"
                  style="width: 200px; min-height: 10px; padding: 0 5px; background-position: right; color: black;"
                  (change)="setGeoJsonInput($event)">
            <option value="" (change)="setGeoJsonInput($event)">(none)</option>
            <option *ngFor="let input of geoJsonInputs" [value]="input">{{input}}</option>
          </select>
        </label>
      </li>
      <li>
        <label for="popup-select">
          Show marker details as:
          <select id="popup-select"
                  style="width: 200px; min-height: 10px; padding: 0 5px; background-position: right; color: black;"
                  (change)="setPopupInput($event)"
          >
            <option value="true">Popup</option>
            <option value="false">Teaser</option>
          </select>
        </label>
      </li>
      <li>
        <label for="styleMode-select">
          Change style mode:
          <select id="styleMode-select"
                  style="width: 200px; min-height: 10px; padding: 0 5px; background-position: right; color: black;"
                  (change)="setStyleModeInput($event)"
          >
            <option value="BRIGHT">Bright Mode</option>
            <option value="DARK">Dark Mode</option>
          </select>
        </label>
      </li>
    </ul>
  </div>

  <div class="source">
    <app-source-highlight></app-source-highlight>
  </div>
</div>
