<div class="page-container">
  <h2>Journey-Maps-Client</h2>

  <div class="map">
    <!--  Do not use this API key in production. Contact dlrokas@sbb.ch to get your own.-->
    <rokas-journey-maps-client
      language="en"
      apiKey="e500c71b8c83c1cfb2170608582ae9c8"
      [markers]="markers"
      [(zoomLevel)]="zoomLevel"
      [(mapCenter)]="mapCenter"
      [infoBoxTemplate]=""
      [(selectedMarkerId)]="selectedMarkerId"
    >
    </rokas-journey-maps-client>

    <!--  Set [infoBoxTemplate]="infoBoxTemplate" to overwrite default template. Example. -->
    <ng-template #infoBoxTemplate let-marker>
      <h1 style="color: red">{{marker.title}}</h1>
      <div>{{marker.subtitle}}</div>
    </ng-template>
  </div>

  <div>
    <ul>
      <li style="list-style: circle;">
        <button
          style="background-color: white; border-width: 1px; border-radius: 5px; margin: 5px 5px 0 0;"
          (click)="setSelecteMarkerId('home')"
        >select 'Home Office' Marker</button>
        <button
          style="background-color: white; border-width: 1px; border-radius: 5px; margin: 5px 5px 0 0;"
          (click)="setSelecteMarkerId(undefined)"
        >unselect all Markers</button>
      </li>
      <li style="list-style: circle;">Selected Marker ID: <span *ngIf="selectedMarkerId">{{selectedMarkerId}}</span></li>
      <li style="list-style: circle;">Zoom Level: {{zoomLevel}}</li>
      <li style="list-style: circle;">Map center: {{mapCenter}}</li>
    </ul>
  </div>

  <div class="source">
    <app-source-highlight></app-source-highlight>
  </div>
</div>
