<div class="page-container">
  <h2>Journey-Maps-Client</h2>

  <div class="map">
    <!--  Do not use this API key in production. Contact dlrokas@sbb.ch to get your own.-->
    <rokas-journey-maps-client
      language="en"
      apiKey="e500c71b8c83c1cfb2170608582ae9c8"
      [markers]="markers"
      [journey]="journey"
      [transfer]="transfer"
      [routes]="routes"
      [boundingBox]="boundingBox"
      [showLevelSwitch]="showLevelSwitch"
      (mapCenterChanged)="mapCenterChanged.next($event)"
      (zoomLevelChanged)="zoomLevelChanged.next($event)"
      [markerDetailsTemplate]=""
      [(selectedMarkerId)]="selectedMarkerId"
      [allowOneFingerPan]="allowOneFingerPan"
      [popup]="popup"
      [scrollZoom]="true"
      [styleMode]="styleMode"
    >
    </rokas-journey-maps-client>

    <!--  Set [markerDetailsTemplate]="markerDetailsTemplate" to overwrite default template. Example. -->
    <ng-template #markerDetailsTemplate let-marker>
      <h1 style="color: red">{{marker.title}}</h1>
      <div>{{marker.subtitle}}</div>
    </ng-template>
  </div>

  <div>
    <ul>
      <li style="list-style: circle;">
        <button
          style="background-color: white; border-width: 1px; border-radius: 5px; margin: 5px 5px 0 0;"
          (click)="setSelectedMarkerId('home')"
        >select 'Home Office' Marker
        </button>
        <button
          style="background-color: white; border-width: 1px; border-radius: 5px; margin: 5px 5px 0 0;"
          (click)="setSelectedMarkerId(undefined)"
        >unselect all Markers
        </button>
      </li>
      <li style="list-style: circle;">Selected Marker ID: <span *ngIf="selectedMarkerId">{{selectedMarkerId}}</span>
      </li>
      <li style="list-style: circle;">Zoom Level: {{zoomLevel}}</li>
      <li style="list-style: circle;">Map center: {{mapCenter}}</li>
      <li style="list-style: circle;">Allow moving the map with one finger: {{allowOneFingerPan}}</li>
      <li style="list-style: circle;">
        <label for="geo-json-select">
          Display GeoJSON data for:
          <select id="geo-json-select"
                  style="width: 200px; min-height: 10px; padding: 0 5px; background-position: right; color: black;"
                  (change)="setGeoJsonInput($event)">
            <option value="" (change)="setGeoJsonInput($event)">(none)</option>
            <option *ngFor="let input of geoJsonInputs" [value]="input">{{input}}</option>
          </select>
        </label>
      </li>
      <li>
        <label for="popup-select">
          Show marker details as:
          <select id="popup-select"
                  style="width: 200px; min-height: 10px; padding: 0 5px; background-position: right; color: black;"
                  (change)="setPopupInput($event)"
          >
            <option value="true">Popup</option>
            <option value="false">Teaser</option>
          </select>
        </label>
      </li>
      <li>
        <label for="styleMode-select">
          Change style mode:
          <select id="styleMode-select"
                  style="width: 200px; min-height: 10px; padding: 0 5px; background-position: right; color: black;"
                  (change)="setStyleModeInput($event)"
          >
            <option value="BRIGHT">Bright Mode</option>
            <option value="DARK">Dark Mode</option>
          </select>
        </label>
      </li>
    </ul>
  </div>

  <div class="source">
    <app-source-highlight></app-source-highlight>
  </div>
</div>
